.article-entity,
.facebook-comments {
  max-width: 1010px;
  margin: 0 auto;
}

.facebook-comments {
  padding: 0.8rem;
  @media screen and (min-width: $vp-desktop) {
    padding: 0;
  }
  p {
    color: v(kode24-textgray);
  }
}

.facebook-comments h4,
.footer-content h3 {
  text-align: center;
  padding: 10px;
  margin: 0;
  position: relative;
  background: linear-gradient(45deg, v(kode24-pink), v(kode24-red));
  text-transform: uppercase;
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.article-entity {
  color: v(kode24-textgray);
  > div {
    &.row {
      @media screen and (min-width: $vp-tablet) {
        justify-content: space-between;
      }
    }
  }
  .aside-desktop {
    @media screen and (min-width: $vp-tablet) {
      flex: 0 0 280px;
    }
  }
  .headline {
    font-size: 2rem;
    line-height: 1.1;
    padding: 0 0.8rem;
    @media screen and (min-width: $vp-tablet) {
      font-size: 3.2rem;
    }
    @media screen and (min-width: $vp-desktop) {
      font-size: 4rem;
      padding: 0;
    }
    color: v(kode24-white);
    margin-bottom: 0.8rem;
    font-family: v(fontMono);
    font-weight: 500;
  }

  .standfirst {
    color: v(kode24-textgray);
    line-height: 1.6;
    margin-bottom: calc(#{v(gutter)} * 2);
    @media screen and (min-width: $vp-tablet) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  header {
    margin-bottom: 2rem;
    @media screen and (min-width: $vp-tablet) {
      margin-bottom: 4rem;
    }
    figure {
      margin: 0;
      .toggle {
        display: none;
      }
      img {
        width: 100%;
      }
    }
    .columns {
      width: 100%;
    }
    .standfirst {
      padding: 0.8rem;
      margin-top: 0;
      @media screen and (min-width: $vp-desktop) {
        padding: 0;
      }
    }
    .full-bleed {
      background-color: v(background-dark);
      position: relative;
      margin-top: -6.5rem;
      overflow: visible !important;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      overflow: hidden;
      margin-bottom: 4em;
      float: none;
      .text-center {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, v(kode24-dark-opacity), transparent);
        }
      }
      @media screen and (min-width: $vp-tablet) {
        font-size: 1.5rem;
        margin-top: -4.3rem;
      }
      > .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        h1 {
          max-width: 1010px;
          margin: 2rem auto 0 auto;
          position: relative;
        }
      }
      .row {
        position: relative;
        width: 100%;
        display: block;
        max-width: 1010px;
        margin: 0 auto;
      }
    }
  }
  .caption {
    padding: 0.8rem;
    border-left: 2px solid v(kode24-pink);
    font-size: 0.9rem;
    font-weight: 400;
  }

  .meta {
    padding: 1rem 1rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    &:before {
      content: "Publisert: ";
    }
    &:after {
      content: " siden";
    }
    font-size: 0.8rem;
    opacity: 0.5;
  }
  .byline {
    .firstname, .lastname {
      font-weight: bold;
    }
    
    .byline {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.8rem;
      &.columns {
        padding: 0.8rem !important;
        @media screen and (min-width: $vp-desktop) {
          padding: 0;
        }
      }
      img {
        display: inline-block;
        width: auto;
        height: 70px;
        border-radius: 50%;
        margin-right: 1rem;
      }
    }
    .premium-ad {
      background-image: none;
      display: block;
      .ad-image {
        display: none;
      }
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(90deg, v(kode24-pink), v(kode24-pink));
    background-position: 0px 22px;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    overflow: visible;
    padding-bottom: 6px;
    color: v(kode24-textgray);
  }
  .row:not(header) {
    display: flex;
  }

  .body-copy {
    padding: 0.8rem !important;

    width: 100%;
    p {
      line-height: 1.6;
      text-rendering: optimizeLegibility;
      margin: 0;
      margin-bottom: calc(#{v(gutter)} * 2);
    }
    @media screen and (min-width: $vp-tablet) {
      flex: 0 0 670px;
      max-width: 670px;
      margin: 0 auto;
      p {
        font-size: 1.125rem;
      }
    }
    @media screen and (min-width: $vp-desktop) {
      margin: unset;
    }
  }
  ul,
  ol {
    margin: 0;
    margin-left: 1.1rem;
    line-height: 1.6;
    margin-bottom: calc(#{v(gutter)} * 2);
    list-style-position: outside;
    font-family: inherit;
    font-size: 1rem;
    padding: 0;

    @media screen and (min-width: $vp-tablet) {
      font-size: 1.125rem;
    }
    li {
      margin-bottom: 0.8rem;
    }
  }
  h2 {
    font-size: 1.9rem;
    margin-bottom: 0.3rem;
    margin-top: 2.5rem;
    font-family: v(fontMono);
    font-weight: 500;
    a {
      background-position: 0 40px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: v(kode24-white);
    word-break: break-word;
  }

  @media screen and (max-width: #{$vp-tablet - 1}) {
    .small-7 {
      width: calc(70% / 1.2);
    }
    .small-5 {
      width: calc(50% / 1.2);
    }
    .small-6 {
      width: calc(60 / 1.2);
    }
    .small-12 {
      width: calc(120% / 1.2);
    }
  }

  @media screen and (min-width: $vp-tablet) {
    .large-7,
    .medium-7 {
      width: calc(70% / 1.2);
    }
    .large-5,
    .medium-5 {
      width: calc(50% / 1.2);
    }
    .large-6,
    .medium-6 {
      width: calc(60% / 1.2);
    }
    .large-12,
    .medium-12 {
      width: calc(120% / 1.2);
    }
  }

  img {
    width: 100%;
    display: block;
  }

  iframe {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  figure {
    iframe {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  figure {
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;

    figcaption {
      .toggle {
        display: none;
      }
    }

    &[data-image-lightbox] {
      cursor: zoom-in;
      &:before {
        content: "🔎";
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        background-color: v(background-dark);
        text-align: center;
        line-height: 2.4rem;
        right: 0;
      }
    }

    &[data-image-lightbox].active {
      cursor: zoom-out;
      position: fixed;
      z-index: 1100;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0 !important;
      background-color: v(background-dark);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0;
      &:before {
        content: "✖";
        background: v(kode24-purple);
      }
      img {
        display: none;
      }

      figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0.8rem;
        width: 100%;
      }
    }

    &.bleed-out-large-3 {
      @media screen and (min-width: $vp-tablet) {
        margin-left: -3em;
        width: calc(100% + 6em);
      }
    }
    &.bleed-out-large-2 {
      @media screen and (min-width: $vp-tablet) {
        margin-left: -2em;
        width: calc(100% + 4em);
      }
    }
    &.bleed-out-large-4 {
      @media screen and (min-width: $vp-tablet) {
        margin-left: -4em;
        width: calc(100% + 8em);
      }
    }
    &.full-bleed {
      margin-left: 0;
      float: none;
      @media screen and (min-width: $vp-tablet) {
        margin-left: 50%;
        transform: translateX(calc(-50% + 180px));
      }
    }
  }
  .right {
    @media screen and (min-width: $vp-tablet) {
      float: right;
      margin-left: calc(#{v(gutter)} * 2);
      margin-bottom: calc(#{v(gutter)} * 2);
    }
  }
  .left {
    @media screen and (min-width: $vp-tablet) {
      float: left;
      margin-right: calc(#{v(gutter)} * 2);
      margin-bottom: calc(#{v(gutter)} * 2);
    }
  }

  .flex-video {
    iframe {
      width: 100%;
      min-height: 362px;
    }
  }

  .preview {
    background: linear-gradient(90deg, v(kode24-pink-dark), v(kode24-purple));
    transition: all 0.1s ease-in-out;
    margin-top: 2.5em;
    margin-bottom: 2.5em;

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    figure {
      margin-top: 0;
      margin-bottom: 0;
    }
    &:hover {
      transform: scale(1.02);
      transition: all 0.1s ease-in-out;
    }
    img {
      display: block;
      width: 100%;
    }
    .headline {
      padding: calc(#{v(gutter)} * 2);
      margin-bottom: 0;
      line-height: 1.3;
      .headline-title-wrapper {
        box-decoration-break: unset;
        padding: 0;
        background: 0;
      }
    }
    .standfirst {
      padding: 0 calc(#{v(gutter)} * 2) calc(#{v(gutter)} * 2)
        calc(#{v(gutter)} * 2);
      margin: 0;
    }
    &.small-12 {
      @media screen and (max-width: $vp-tablet - 1) {
        width: 100%;
      }
    }
    &.large-6 {
      @media screen and (min-width: $vp-tablet) {
        width: 50%;
      }
    }
  }
}
