.byline-listing {
  position: relative;
  border-top: 1px solid v(kode24-white-opacity);
  border-bottom: 1px solid v(kode24-white-opacity);
  margin-top: 2rem;
  margin-bottom: 0;
  .ad-text,
  .cities {
    padding-left: 70px;
    position: relative;
  }
  .cities {
    span {
      display: inline-block;
      background: v(kode24-black);
      color: v(kode24-yellow);
      border-radius: 2px;
      padding: 0.2rem;
      text-transform: uppercase;
      margin-right: 0.2rem;
      font-size: 0.7rem;
    }
  }
  .ad-company-logo {
    top: 44px;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 50px;
    height: 50px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
  }
  h3 {
    padding: 10px 10px 10px 70px;
    margin: 0;
    position: relative;
    background: linear-gradient(
      45deg,
      v(kode24-pink),
      v(kode24-commercial-orange)
    );
    text-transform: uppercase;
    font-size: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  h4 {
    opacity: 0.5;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
  }
  h5 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
    font-weight: 500;
  }

  h6 {
    opacity: 0.7;
    font-size: 0.7rem;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
}
@media screen and (max-width: #{$vp-tablet - 1}) {
  display: none;
}
