.google-search {
  color: v(kode24-textgray);
  a,
  .gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl {
    color: #c431e3;
  }
  .gs-webResult .gs-snippet,
  .gs-imageResult .gs-snippet,
  .gs-fileFormatType {
    color: v(kode24-textgray);
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    color: v(kode24-textgray);
  }

  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b,
  .gs-imageResult a.gs-title:link,
  .gs-imageResult a.gs-title:link b {
    color: v(kode24-textgray);

    background-image: linear-gradient(90deg, #c431e3, #c431e3);
    background-position: 0px 22px;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    overflow: visible;
    padding-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
  }
  a.gs-image {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    width: auto;
  }

  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b {
    color: v(kode24-textgray);
  }

  .gsc-adBlock {
    display: none;
  }
  .gsc-search-button {
    .gsc-search-button {
      padding: 16px 22px;
      margin: 0;
      background: linear-gradient(60deg, #124686, #c431e3);
      border: 0;
      border-radius: 4px;
      margin-left: 8px;
    }
  }
  .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0;
    line-height: auto;
    border-radius: 4px;
    color: #333;
    overflow: hidden;
  }

  .gsc-orderby {
    text-align: right;
  }

  .gsc-above-wrapper-area,
  table,
  table tbody tr,
  table tbody tr:first-child,
  table tbody tr td {
    margin-bottom: 0;
    background: 0;
    background-color: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
  }

  .gsc-control-cse,
  .gsc-control-cse .gsc-table-result {
    font-family: v(fontRegular);
  }

  .gsc-result .gs-title,
  .gsc-control-cse .gs-spelling,
  .gsc-control-cse .gs-result .gs-title,
  .gsc-control-cse .gs-result .gs-title * {
    height: auto;
    font-size: 20px;
  }

  .gsc-control-cse,
  .gsc-webResult.gsc-result,
  .gsc-results .gsc-imageResult,
  .gsc-results .gsc-cursor-box .gsc-cursor-page,
  .gsc-webResult.gsc-result {
    background: 0;
    background-color: 0;
    border: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    &:hover {
      background: 0;
      background-color: 0;
      border: 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
  }
  .gs-result .gs-title,
  .gs-result .gs-title * {
    text-decoration: none !important;
  }

  .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background: 0;
    background-color: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    display: inline-block;
    padding: 8px 6px;
    border-radius: 2px;
    outline: none;
  }

  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background: #673ab7;
  }

  .gsc-table-cell-thumbnail.gsc-thumbnail {
    border-right: 0;
  }

  .gsc-results {
    margin: 0;
    width: 100%;
  }
}
