.full-bleed {
  .labFn-empty-placeholder {
    min-height: 500px;
    padding-top: 100px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

.labFn-edit {
  blockquote {
    -webkit-text-fill-color: unset;
  }
  .article-entity {
    header {
      .full-bleed {
        .text-left,
        .text-center,
        .text-right {
          bottom: 52px;
        }
      }
    }
  }
}
