// Contains overrides for light theme

body.light {
  background-color: v(background-light);
  a {
    color: v(kode24-textdarkgray);
  }
  #top-navigation.article a {
    color: v(kode24-white);
  }
  #top-navigation #page-tagline {
    color: v(kode24-textdarkgray);
  }
  #top-navigation:not(.article) .logo {
    filter: invert(100%);
  }

  #kode24-graphic-header #particles-js {
    opacity: 0.4;
  }
  .facebook-comments p {
    color: v(kode24-textdarkgray);
  }
  .article-entity {
    color: v(kode24-textdarkgray);
    .headline {
      color: v(kode24-black);
    }
    .standfirst {
      color: v(kode24-textdarkgray);
    }
    .preview {
      .standfirst {
        color: v(kode24-textgray);
      }
    }
  }
  .footer-content {
    a.article {
      color: v(kode24-textdarkgray);
    }
    .footer-content-wrap {
      .premium-ad {
        color: v(kode24-white);
      }
    }
  }
  // carousel overrides
  .slick-slide {
    a {
      color: v(kode24-textdarkgray);
    }
  }
  .slick-list:before {
    background: linear-gradient(90deg, v(background-light), transparent);
  }
  .slick-list:after {
    background: linear-gradient(90deg, transparent, v(background-light));
  }
  .body-copy,
  .article-entity {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: v(kode24-textdarkgray);
    }
  }
  .panel {
    color: v(kode24-white);
    .copy {
      color: v(kode24-textdarkgray);
    }
  }
  .main-footer {
    a {
      color: v(kode24-white);
    }
  }
  .aside-desktop .ad:hover {
    background-color: v(background-light-dark);
  }
}

.reverse-front {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p,
  label {
    color: v(kode24-black);
  }
}

.cross-site-legend {
  span {
    color: v(kode24-textdarkgray);
  }
}
