.aside-desktop {
  display: none;
}
@media screen and (min-width: $vp-desktop) {
  .aside-desktop {
    display: block;
    font-family: v(fontMono);
    padding-left: 0.8rem;
    a {
      text-decoration: none;
      color: v(kode24-white);
      background-image: none !important; // reset link underline
    }
    .ads {
      h3 {
        text-align: center;
        padding: 0.8rem 0;
        margin: 0;
        position: relative;
        background: linear-gradient(
          45deg,
          v(kode24-pink),
          v(kode24-commercial-orange)
        );
        text-transform: uppercase;
        font-size: 20px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
      }
    }
    .related {
      h3 {
        text-align: center;
        padding: 10px;
        margin: 0;
        position: relative;
        background: linear-gradient(45deg, v(kode24-pink), v(kode24-red));
        text-transform: uppercase;
        font-size: 20px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
      }
      .article {
        padding-top: 0.8em;
        &:hover {
          background: v(background-dark-light);
        }
        &.top {
          h4 {
            margin: 0;
            padding: 0.8em;
            font-size: 1.25em;
          }
        }
        border-bottom: 1px solid v(kode24-white-opacity);
      }
      &.front {
        .article-image {
          float: left;
          margin-right: 0.8em;
          margin-bottom: 0.8em;
        }
        h4 {
          font-size: 1.1em;
          margin: 0;
          padding-bottom: 0.8em;
          &:after {
            content: "";
            display: block;
            clear: both;
          }
        }

        h5 {
          display: none;
        }
      }
    }
    .ads,
    .related {
      margin-bottom: calc(#{v(gutter)} * 8);
    }
    .ad {
      position: relative;
      padding: 0.8rem 0;
      border-bottom: 1px solid v(kode24-white-opacity);

      display: block;
      &:hover {
        background: v(background-dark-light);
      }
      img {
        max-width: 100%;
      }

      .ad-text {
        position: relative;
      }
      .ad-company-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 10px;
        top: 1rem;
      }
      h4,
      h5,
      h6,
      .cities {
        margin: 0;
        padding-left: 80px;
      }
      h4 {
        opacity: 0.5;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 0.7rem;
        text-transform: uppercase;
      }
      h5 {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        font-weight: 500;
      }
      h6 {
        opacity: 0.7;
        font-size: 0.7rem;
        font-weight: 500;
        margin-bottom: 0.2rem;
      }
      .cities {
        span {
          display: inline-block;
          background: v(kode24-black);
          color: v(kode24-white);
          border-radius: 2px;
          padding: 0.2rem;
          text-transform: uppercase;
          margin-right: 0.2rem;
          font-size: 0.6rem;
        }
      }
    }
  }

  .adslist-see-more {
    display: block;
    padding: 0.1rem;
    background: linear-gradient(
      45deg,
      v(kode24-pink),
      v(kode24-commercial-orange)
    );
    border-radius: 2px;
    text-decoration: none;
    span {
      display: block;
      background-color: black;
      text-align: center;
      color: v(kode24-white);
      text-transform: uppercase;
      padding: 0.6rem;
      font-size: 0.8rem;
    }
  }
}
